<main
    class="w-full max-w-md bg-white rounded-md flex flex-col items-center px-4 py-6 gap-4 border-2 border-gray-300"
>
    <img
        src="/assets/logo-no-bg.png"
        class="-ml-[24px]"
        height="200px"
        width="320px"
    />

    <form action="/login" method="post" class="p-4 w-full flex flex-col gap-4">
        <div class="w-full">
            <label class="block" for="email">Email</label>
            <input
                id="email"
                name="email"
                type="email"
                class="border-gray-200 border-2 rounded-md focus:border-gray-400 transition-all w-full py-1"
                value="{{email}}"
            />
        </div>
        <div class="w-full">
            <label class="block" for="password">Senha</label>
            <input
                id="password"
                name="password"
                type="password"
                class="border-gray-200 border-2 rounded-md focus:border-gray-400 transition-all w-full py-1"
            />
            {{#if error}}
                <p class="text-red-500">{{error}}</p>
            {{/if}}
        </div>
        <button
            class="w-full rounded-sm bg-blue-600 text-white px-4 py-2 focus:bg-blue-700 hover:bg-blue-700 active:bg-blue-900 transition-all"
            type="submit"
        >Entrar</button>

        <hr />
        <a
            class="text-blue-500 w-fit mx-auto hover:text-blue-700 active:text-blue-900"
            type="submit"
            href="/signup"
        >Criar conta</a>
    </form>
</main>