<html>

<head>
    <meta charset="utf-8" />
    <title>Example App</title>
    <link rel="stylesheet" href="/styles/index.css" />
    <link rel="stylesheet" href="/styles/base.css" />
    <link rel="stylesheet" href="/styles/product.css">
</head>

<body>
    {{>header}}
    <div class="product-conteiner">
        {{!Aqui mais pra frente vou pegar o conteúdo dado pelo usuário que n sei como fazer}}
        <div class="product">
            <div class="assets">
                <img src="/assets/tenis01.png" alt="">
            </div>
            <div class="details">
                <h1>{{!shoes-name}}Nome do tenis</h1>
                <h2>{{!Price}}Preço</h2>
                <h3>{{!Descount}}Desconto</h3>
                <p>{{!Product detail}}Detalhe do produto</p>
                <form>
                    <label class="option-number" for="number">Selecione um número entre 36 e 45:</label>
                    <select id="number">
                        <option value="36">36</option>
                        <option value="37">37</option>
                        <option value="38">38</option>
                        <option value="39">39</option>
                        <option value="40">40</option>
                        <option value="41">41</option>
                        <option value="42">42</option>
                        <option value="43">43</option>
                        <option value="44">44</option>
                        <option value="45">45</option>
                    </select>

                    <div class="quantity-select">
                        <p>Quantidade</p>
                        <input type="number" name="quantity-selector" id="quantity-selector" value="1">
                    </div>

                    <button class="buy">Compre agora</button>
                    <button class="add-to-cart">Adicionar ao carrinho</button>

                </form>
            </div>
        </div>
    </div>

    {{>footer}}
</body>

</html>