<main class="w-full h-full flex justify-center items-center">

    <div
        class="w-full max-w-lg bg-white rounded-md flex flex-col items-center px-4 py-6 gap-4 border-2 border-gray-300"
    >
        <section class="flex flex-col gap-16 text-center w-full">
            <h1 class="text-2xl text-gray-700">Produto criado com sucesso!</h1>
            <div class="flex gap-4">
                <a
                    class="w-full rounded-sm text-blue-600 border-2 border-blue-500 px-4 py-2 focus:bg-blue-100 hover:bg-blue-200 active:bg-blue-900 transition-all text-center"
                    type="submit"
                    href="/"
                >Voltar</a>
                <a
                    class="w-full rounded-sm bg-blue-600 text-white px-4 py-2 focus:bg-blue-700 hover:bg-blue-700 active:bg-blue-900 transition-all text-center"
                    type="submit"
                    href="/products/new"
                >Adicionar mais produtos</a>
            </div>
        </section>
    </div>
</main>