
        <main
            class="w-full max-w-md bg-white rounded-md flex flex-col items-center px-4 py-6 gap-4 border-2 border-gray-300"
        >
            <section class="flex flex-col gap-16 text-center">
            <h1 class="text-3xl">Parabéns!</h1>
              <h2>Sua conta foi criada com sucesso!</h2>
              <a
                    class="w-full rounded-sm bg-blue-600 text-white px-4 py-2 focus:bg-blue-700 hover:bg-blue-700 active:bg-blue-900 transition-all text-center"
                    type="submit"
                    href="/"
                >Continuar</a>
            </section>
        </main>
    </body>
</html>