<html>
    <head>
        <meta charset="utf-8" />
        <title>Comfortable Steps</title>
        <link rel="stylesheet" href="/styles/base.css" />
        <link rel="stylesheet" href="/styles/index.css" />
    </head>
    <body
        class="h-screen w-screen flex items-center justify-center bg-slate-100"
    >
        {{{body}}}
    </body>
</html>