<html>
    <head>
        <meta charset="utf-8" />
        <title>Mike</title>
        <link rel="stylesheet" href="/styles/base.css" />
        <link rel="stylesheet" href="/styles/index.css" />
        <link
            rel="shortcut icon"
            type="image/png"
            href="/styles/mike-website-favicon-black.png"
        />
    </head>
    <body
        class="h-screen w-screen overflow-x-hidden flex items-center justify-center bg-slate-100"
    >
        {{{body}}}
    </body>
</html>